/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
   position: relative;
 }
html,
body {
  height: 100%;
  /*font-size: 19px;*/
  /*background-color: #333;*/
}

/*li, ol, p, ul {
    font-size: 1.2rem;
}*/

.img {
  max-width: 100%;
}

button {
    cursor: pointer;
}

/* mouse text selection color*/
::-moz-selection { /* Code for Firefox */
    color:#fff;
    background:#40C9D7;
}

::selection {
    color:#fff;
    background:#40C9D7;
}

/* navbar */
.navbar-inverse {
  background-color: transparent;
  border: none;
  transition: 0.2s all linear;
}
.navbar-inverse.change-color {
  background-color: rgba(0,0,0,0.8);
  border: none;
  transition: 0.2s all linear;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

/*trabajos*/
.trabajos {
  padding-top: 4rem;
}
.trabajos .section-description {
  line-height: 1.6;
  margin-bottom: 35px;
}

// Box shadow helper
@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}
a {transition: .25s all;}
.card {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: .25s box-shadow;
  &:focus,
  &:hover {@include BoxShadowHelper(2);}
}

.mb-4 {
  margin-bottom: 1.5rem;
}
/* cover*/

#cover {
  background-size: cover;
  color: #fff;
  height: 100%;
  text-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.cover-container {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  color: #fff;
  width: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*
 * parallax*/

 .parallax {
     /* The image used */
     background: #222 url("https://somval.github.io/img/stars-web2.jpg");

     /* Full height */
     height: 100%;

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

/* End my parallax */

.section-content {
  padding: 1rem 0;
}

/*
 * Cover
 */
.cover-heading {
  margin-top: 5rem;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}
/*
 * parallax 2*/

 .parallax2 {
     /* The image used */
     background: #222 url("https://somval.github.io/img/me.jpg");

     /* Full height */
     height: 100%;

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

.about-text {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1.875rem;
}
.about-text img {
  margin-bottom: 1.9rem;
}

/* Form */
.form {
  color: #74777B;
}
a.form {
  color: #d9534f;
}
a.form:focus, a.form:hover {
  color: #ff6300;
  text-decoration: underline;
}

.typewriter {
  font-family: 'Roboto Mono', monospace;
}

/* Brand cool */

.brand-content {
  font-family: 'Fira Sans', sans-serif;
}
h1.brand-cool {
  font-size: 5em;
  font-weight: 900;
}
.meaning {
  font-size: 1.5em;
  color: #9952E0;
}
.brand-name {
  margin: 15px;
  color: #40C9D7;
}

/* Latest Posts */
.latest-posts {
  padding-top: 4rem;
}
.latest-posts .section-description {
  line-height: 1.6;
  width: 60%;
  margin: 0 auto 35px;
}
.latest-posts .card-link {
  color:#d9534f;
  font-weight: bold;
}
.latest-posts .card {
  margin-bottom: 25px;
}

/* social */

ul.social-network {
    list-style:none;
}

/* video */
video {
    width: 100%;
    height: auto;
}

/*footer*/
.footer {
    text-align: center;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer .fa {
    margin: .5rem;
}
a.social-icon {
    color: #d6d6d6;
    text-decoration: none;
}
.footer .fa-twitter:hover {
    color: #0068ff;
}

.footer .fa-github:hover {
  color: #000;
}


.footer .fa-flickr:hover {
  color: #FF0084;
}

/*
* Embedding Tengwar on Websites
*/
@font-face {
    font-family: "FreeMonoTengwar";
    src: url("/fonts/FreeMonoTengwar-embedding.eot");
}
@font-face {
    font-family: "FreeMonoTengwar";
    src: local("FreeMonoTengwar"),
    local("FreeMonoTengwar-embedding"),
    url("/fonts/FreeMonoTengwar-embedding.ttf") format("TrueType");
}

/*
 * Affix and center
 */
 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media (min-width: 40em) {
  /* Pull out the header and footer */

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .cover-container {
    width: 42rem;
  }
}
